// Example of a custom component

.card {
  --#{$prefix}card-spacer-y: #{$card-spacer-y * 0.8};
  --#{$prefix}card-spacer-x: #{$card-spacer-x * 0.8};
}

.card-header {
  display: flex;
  justify-content: space-between;
}

#editor {
  min-height: 200px;
}

.toggle-button {
  --bs-btn-close-bg: url(/assets/svg/Arrows_2.svg);
}

#markdown-previever {
  height: 100%;
  max-height: min-content;
}

.min-h-100 {
  min-height: 100%;
  height: fit-content;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

#preview-window {
  padding-bottom: 1.5rem;
}

.divider {
  height: 1.5rem;
}

#editor-window {
  margin-bottom: 1.5rem;
}

.h-100-custom {
  height: calc(100% - 1.5rem);
}
